*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: var(--bg-color);
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

:root {
  --bg-color: #fafafa;
  --color1: #ea5353;
  --color2: #45d3d3;
  --color3: #fcaf4a;
  --color4: #549ef2;
  --color5: #4c4e61;
  --color6: #a3a5ae;
  --color7: #fff;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  padding-block: 8rem 6.4rem;
}

.header .container .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .title h1,
h2 {
  width: 100%;
  color: var(--color5);
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.167px;
}

.header .title h2 {
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.header .title p {
  width: 100%;
  color: var(--color5);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0104rem;
  opacity: 0.5;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

main .cards article {
  background-color: var(--color7);
  padding: 3.2rem;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 0px 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
}

main .cards article:first-child {
  border-top: 0.4rem solid var(--color2);
}
main .cards article:nth-child(2) {
  border-top: 0.4rem solid var(--color1);
}
main .cards article:nth-child(3) {
  border-top: 0.4rem solid var(--color3);
}
main .cards article:last-child {
  border-top: 0.4rem solid var(--color4);
}

main .cards article h2 {
  color: var(--color5);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

main .cards article p {
  color: var(--color5);
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: 0.009rem;
  margin-bottom: 4rem;
  opacity: 0.5;
}

main .cards article img {
  margin-left: auto;
}

@media (min-width: 768px) {
  .header .title h1,
  h2 {
    font-size: 3.6rem;
  }

  .header .title p {
    max-width: 54rem;
  }

  main .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  main .cards article {
    width: 350px;
  }

  main .cards article:nth-child(odd) {
    transform: translateY(50%);
  }
}
